ul,ol,menu {
    list-style: none;
}

.title {
    display: flex;
    justify-content: space-between;
}

.list-group-item{
    display: flex;
    
}

input::placeholder {
    display: flex;
    color: black;
}

